build
wbuild
.lock-waf*
.idea
.project.gf
**.a
*.tape
*/*.o
nimcache/
outputGotten.txt
testresults/
tests/*
!tests/*.nim
!tests/prints
tests/prints/*
!tests/prints/*.nim
!tests/mem_action
tests/mem_action/*
!tests/mem_action/*.nim
