build
wbuild
.lock-waf*
.idea
.project.gf
**.a
*.tape
*/*.o
nimcache/
outputGotten.txt
testresults/
tests/*
!tests/*.nim
!tests/prints
tests/prints/*
!tests/prints/*.nim
!tests/mem_action
tests/mem_action/*
!tests/mem_action/*.nim
!tests/utils
tests/utils/*
!tests/utils/*.nim
!tests/string_manipulation
tests/string_manipulation/*
!tests/string_manipulation/*.nim
!tests/string_alteration
tests/string_alteration/*
!tests/string_alteration/*.nim
!tests/string_checks
tests/string_checks/*
!tests/string_checks/*.nim
!tests/string_conversion
tests/string_conversion/*
!tests/string_conversion/*.nim
!tests/string_new
tests/string_new/*
!tests/string_new/*.nim
compile_commands.json
